.form1{
  max-width: 320px;
  margin: 5px auto auto auto;
  background-color: #fafafa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  font-size: 25px;
  max-height: 600px;
  overflow-y: auto;
}

.form2{
  max-width: 1200px;
  margin: 2px auto auto auto;
  background-color: #fafafa;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  font-size: 25px;
  max-height: 600px;
}

.table1{
  max-width: 1200px;
  margin-top: 2px;
  background-color: #fafafa;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  font-size: 25px;
  max-height: 500px;
  overflow-y: auto;
}

.rows{
  padding-top: 10px;
}

.vErrorText{
  font-size: 9px;
  color:darkred;
}

.tableTitle{
  font-size: 20px;
  color: #2a2a31;
  float: left;
  padding-right: 10px;
  margin: 0px 0px 10px 0px;
}

.deleteAll{
  float: left;
}